*,
::before,
::after {
  box-sizing: border-box;
}

body {
   height: 100%;
  width: 100%; 
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}


.iam {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.mycontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px,1fr));
  grid-gap: 20px;
}


.about {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.title {
  font-size: 48px;
  line-height: 1.1;
  color:#7B68EE;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 32px;
  font-weight: 400;
}

.links {
  display: flex;
}

.link {
  margin-right: 10px;
  max-width: 30px;
  max-height: 30px;
  font-size: 30px;
  color: #7B68EE;
}
.link:hover {
  color: #7B68EE;
}
a.rull {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('04.png'); 
  background-position: center; 
  background-repeat: no-repeat;
  }
a.rull:hover {
  width: 30px;
  height: 30px;
  background-image: url('05.png');
  background-position: center;   
  background-repeat: no-repeat;
  }

.menu {
  display: flex;
  margin-top:20px; 
  list-style: none; 
  
}

.men {
  width: 188px;
  font-size: 15px;
  border: 0px;
  justify-content: center;
  text-decoration: none; 
  background:rgb(0, 0, 0); 
  color:#7B68EE; 
  padding:15px; 
  border-radius:5px; 
  transition: all 0.3s 0.01s ease; 
  
}
.men:hover {
  background:#4facfe;
}


.box {
  max-width: 300px;
  justify-self: center;
  overflow: hidden;
  border: 10px solid #E6E6FA;

  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);

  animation: ava-animate 5s infinite ;
  box-shadow: 2px 5px 10px rgba(116, 116, 116, 0.5);
}


.box-img {
  animation: ava-bg 3s infinite alternate;
}

@media screen and (max-width: 978px) {
  .iam {
    padding-top: 30px;
  }

  .mycontainer {
    grid-row-gap: 20px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 22px;
    font-weight: 400;
  }

  .description {
    font-size: 14px;
  }

  .about {
    text-align: center;
  }

  .links {
    justify-content: center;
  }

  .menu {
    justify-content: center;
  }

  .box {
    max-width: 350px;
    justify-self: center;
  }
}

.flower {
  position: absolute;
  width: 150px;
  height: 100px;
  background-image: url('flower.png'); 
  background-size: cover;
  overflow: hidden;

}

.flower1 {
  animation: moveFlower1 4s linear infinite; /* Анимация для первого цветка */
}

.flower2 {
  animation: moveFlower2 7s ease-in-out infinite; /* Анимация для второго цветка */
}

.flower3 {
  animation: moveFlower3 6s ease-in-out infinite; /* Анимация для третьего цветка */
}

.flower4 {
  animation: moveFlower4 7s linear infinite; /* Анимация для первого цветка */
}

.flower5 {
  animation: moveFlower5 8s linear infinite; /* Анимация для первого цветка */
}

/* Ключевые кадры для каждой анимации */
@keyframes moveFlower1 {
  0% { top: 0; left: 0; }
  50% { top: 70%; left: 50%; }
  100% {top: 500px; left: 0px;}
}

@keyframes moveFlower2 {
  0% { top: 500px; left: 0px; }
  50% { top: 60%; left: 80%; }
  100% { bottom: 100px; right: 0px;}
}

@keyframes moveFlower3 {
  0% { top: 100px; left: 100px; }
  25% { top: 70%; left: 40%; }
  50% { top: 50%; left: 70%; }
  75% { top: 80%; left: 20%; }
  100% { top: 30%; left: 90%; }
}

@keyframes moveFlower4 {
  0% { top: 20; left: 0; }
  100% { bottom:  20%; right:  50%; }
}

@keyframes moveFlower5 {
  0% { top: 100px; right: 100px; }
  25% { top: 70%; left: 40%; }
  50% { top: 50%; left: 70%; }
  100% { top: 30%; left: 90%; }
}




@keyframes ava-animate {
  0% {
    border-radius: 100% 0% 100% 0% / 0% 100% 0% 100%
  }

  20% {
    border-radius: 75% 25% 75% 25% / 25% 75% 25% 75% 
  }

  50% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }

  75% {
    border-radius: 70% 30% 73% 27% / 79% 28% 72% 21%
  }
  
  100% {
    border-radius: 0% 100% 0% 100% / 100% 0% 100% 0% 
  }

}

@keyframes ava-bg {
  from {
    backdrop-filter: hue-rotate(0);
  }

  to {
    backdrop-filter: hue-rotate(90deg);
  }
}

